div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.header-container, 
.loader-container,
.empty-container {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background: #f3f3f3;
}

.post-item {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 3px 3px #000000;
  cursor: pointer;
}

.post-link {
  text-decoration: none;
}

.post-item h3 {
  color: #000000;
}

.post-item p {
  color: #00000060;
}